XML/xml/teacher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/teacher" 	
	elementFormDefault="qualified">
	<element name="teachers">
		<complexType>
			<sequence>
			<element name="teacher">
				<complexType>
					<sequence>
						<element name="name" type="string"></element>
						<element name="age" type="int"></element>
					</sequence>
				</complexType>
			</element>
			</sequence>
		</complexType>
	</element>
</schema>